html {
    height : 99%;
}

body {
    font-family : calibri, verdana, sherif;
	color : black;
    background-color : white;
    height : 99%;
}

header {
    color : white;
    background-color : rgb(33,45,37);
    height : 10%;
}

#logo, h1, #mode, #User, #plus{
    display : inline-block;
	vertical-align: middle ;
}

#logo {
    height : 94%;
    margin-left: 2%;
    margin-top: 5px;
}

h1 {
    height: 94%;
    font-size: 4em;
    color: white;
    margin-left: 22%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 20%;
}

#mode {
    margin-left: 0%;
}

nav, section {
    display : inline-block;
	vertical-align : middle;
}

nav {
    width : 25%;    
    height : 100%;
}

section {
    width : 74%;
    height : 100%;
    overflow: scroll;
}

#principal {
    height : 70%;
    background-color : rgb(186,201,189);
    border-bottom : 6px solid rgb(186,201,189);
}

h2 {
    font-size: 2.4em;
    text-align: center;
    margin: 0px;
}

.menu {
    color : white;
    text-decoration: none;
    background-color : rgb(62,83,66);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height : 25%;
}

#animaux, #acces, #actu {
    border-bottom: 2px solid black;
}

p {
    font-size: 4em;
    font-weight: bold;
    text-align: center;
}

footer {
    background-color : rgb(252, 246, 227);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 3% 10%;
}

a:hover {
    color : rgb(255,203,0);
}


/* ajout pour page animaux */

#animaux {
    color : rgb(29, 37, 31);
    background-color : rgb(97, 128, 104);
}

caption {
    color : rgb(62,83,66);
    font-size: 3em;
}

table {
    border-spacing: 2px;
}

td {
    position: relative;
    padding: 0;
}

.img_anim {
    display: block; 
    border: 2px solid rgb(62,83,66);    
}

h3 {
    width: 100%;
    text-align: center;
    font-size: 1.7em;
    color: white;
    background-color: rgb(34, 46, 36);
    opacity: 0.8;
    margin-bottom: 0;
    position : absolute;
	bottom : 0px;

    z-index : 1;
}

h3:hover {
    font-size: 2em;
    cursor : pointer;
    color: rgb(255,203,0);
}

#User{
    margin-left: 3%;
    margin-right: 2%;
}

#connexion {
    display: flex;
    justify-content: center;
    height: 73%;
    align-items: center;
}

#formconnexion{
    background-color: rgb(33, 45, 37);
    height: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 14rem;
    border: 5px solid rgb(33, 45, 37);
    border-radius: 5rem;
    box-shadow: 10px black;
    box-shadow: 2px 3px 11px 0px;
}

.labelconnexion{
    margin-bottom: -12px;
}

#identifiant, #mdp{
    height: 23px;
    border: aliceblue solid 5px;
    border-radius: 11px;
    font-size: 15px;
    text-align: center;
}

button{
    display: block;
    padding: 0;
    border: 0;
}

#plus{
    margin-left: -41px
}